
table {
    width: 100%;
    height: 100%;
}

#titleBar {
    text-align: center;
}

.navi {
    height: inherit;
    text-align: center;
    border: 1px solid black;
    width: 33%;
}

.navi:hover {
    background-color: aqua;
}

.navi a {
    text-decoration: none;
    background-color: brown;
}

td label {
    height: 100%;
}