table {
    width: 100%;
    height: 100%;
}

#titleBar {
    text-align: center;
}

.navi {
    height: inherit;
    text-align: center;
    border: 1px solid black;
    width: 33%;
    background-color: lightgray;
}

.navi:hover {
<<<<<<< HEAD
    background-color: aqua;
}

.navi a {
    text-decoration: none;
    background-color: brown;
}

td label {
    height: 100%;
=======
    background-color: grey;
    text-color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: inherit;
>>>>>>> 32ed5b6a970101647ba327aef96b548a234d153f
}